<!-- <head>
<style>
    body {background: url('./public/purple.jpg');}
</style>

</head> -->
<head>
    <link href='/style.css' rel="stylesheet" type="text/css" />
</head>

<body id="menu_bg">
<center>
<h1>welcome to RPS!</h1>

  <form action="/names" method="post">

    <label>
      <p>
        Player 1:<input type="text" name="player_1_name">

        Player 2:<input type="text" name="player_2_name">
      </p>
    </label>

    <input type="submit" name="submit" value="Go!">
    
  </form>
</center>
</body>